APP_NAME='Fastify bolierplate'
PORT=3100
ENVIRONMENT=development
LOG_LEVEL=debug

# REPLACE WITH YOUR OWN SECRET KEYS(32 DIGITS)
JWT_SECRET="@b-*%LPoUt#$*RN-*X_742TkbB8?LgH4"
SESSION_SECRET="A^t@%9WrJFzdF3N=JHytRezD*erq^9_$"

#MONGO DB
MONGO_DB_HOST_NAME=
MONGO_DB_PORT=
MONGO_DB_NAME=
MONGO_DB_USER=
MONGO_DB_PASSWORD=

#ATLAS
ATLAS_DB_NAME=
ATLAS_USER=
ATLAS_PASSWORD=
ATLAS_CLUSTER=
ATLAS_OPTIONS=

#INACTIVITY TIME IN MINUTES
INACTIVITY_TIME=15
