APP_NAME='Fastify bolierplate'
PORT=3100
ENVIRONMENT=development
LOG_LEVEL=debug

#MONGO DB
MONGO_DB_HOST_NAME=
MONGO_DB_PORT=
MONGO_DB_NAME=
MONGO_DB_USER=
MONGO_DB_PASSWORD=

#ATLAS
ATLAS_DB_NAME=
ATLAS_USER=
ATLAS_PASSWORD=
ATLAS_CLUSTER=
ATLAS_OPTIONS=
